*{
  box-sizing: border-box;
  background-color: lightgray;
}

.container{
  width: 1000px;
  margin:0 auto;
}

.gallery{
width: 100%;
overflow: hidden;
}


.list-img{
display: flex;
overflow: hidden;
width: 100%;
padding-top: 20px;
}
.list-img img{
width: 160px;
height: 80px;
padding-right: 20px;
cursor: pointer;

}
.main-img{
display: flex;
position: relative;

  width: 100%;

}
.main-img img{
width: 100%;

}
.col-main{
position: relative;
width: 100%;
}
.main-img .item-img{
    min-width: 100%;
}


img.item-list{
opacity: 0.3;
}
.item-list.active{
opacity: 1;
}
.nutslide{
  position: absolute;
top: 50%;
transform: translateY(-50%);
width: 100%;
background-color: white;
}

.fas.fa-chevron-left {
  width: 50px;
}


.fas.fa-chevron-right {
  width: 50px;
}


span.next{
  right: 15px;
position: absolute;
  font-size: 28px;
  color: #fff;
      width: 35px;
height: 36px;
background: #373737;
padding-left: 8px;
padding-right: 10px;
border-radius: 4px;
padding-top: 1px;
cursor: pointer;
}

span.prev {
left: 15px;
position: absolute;
font-size: 28px;
color: #fff;
    width: 35px;
height: 36px;
background: #373737;
padding-left: 8px;
padding-right: 10px;
border-radius: 4px;
padding-top: 1px;
cursor: pointer;
}
.main{
position: relative;
width: 100%;
}
.img-thumbnail{
display: flex;
position: relative;
justify-content: space-evenly;
  width: 100%;

}